
a {
	color: red;
}

h1 {
	font-weight: bold;
}

input {
	border-width: 3px;
	border-style: solid;
	border-color: black;
}

button {
	border-width: 3px;
	border-color: purple;
}

body {
	font-family: 'Oswald';
}