.sidebar {
	background-color: gray !important;
	color: black !important;
	border-width: 1px;
	border-radius: 5px;
	// border-color: black;
	border-style: dotted;
}

.background {
	width: 100%;
}

.green {
	color: green !important;
	background-color: white !important;
}

.search-container {
	margin-bottom: 40px;
	.search-close {
		height: 32px;
		width: 30px;
		background-color: black;
		float: left;
		margin-right: 3px;
	}
	.search {
		width: 30px;
	}
}