/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/partials/_base.scss */
a {
  color: red;
}

/* line 6, ../sass/partials/_base.scss */
h1 {
  font-weight: bold;
}

/* line 10, ../sass/partials/_base.scss */
input {
  border-width: 3px;
  border-style: solid;
  border-color: black;
}

/* line 16, ../sass/partials/_base.scss */
button {
  border-width: 3px;
  border-color: purple;
}

/* line 21, ../sass/partials/_base.scss */
body {
  font-family: 'Oswald';
}

/* line 1, ../sass/partials/_layout.scss */
.sidebar {
  background-color: gray !important;
  color: black !important;
  border-width: 1px;
  border-radius: 5px;
  border-style: dotted;
}

/* line 10, ../sass/partials/_layout.scss */
.background {
  width: 100%;
}

/* line 14, ../sass/partials/_layout.scss */
.green {
  color: green !important;
  background-color: white !important;
}

/* line 19, ../sass/partials/_layout.scss */
.search-container {
  margin-bottom: 40px;
}
/* line 21, ../sass/partials/_layout.scss */
.search-container .search-close {
  height: 32px;
  width: 30px;
  background-color: black;
  float: left;
  margin-right: 3px;
}
/* line 28, ../sass/partials/_layout.scss */
.search-container .search {
  width: 30px;
}

@-webkit-keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}
@-webkit-keyframes spin {
  from {
    width: 0%;
    -webkit-transform: 0deg;
  }
  to {
    width: 30%;
    -webkit-transorm: 360deg;
  }
}
/* line 13, ../sass/partials/_module.scss */
.image {
  border-style: solid;
  border-width: 2px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 22, ../sass/partials/_module.scss */
.animation {
  -webkit-animation: width 3s infinite alternate;
  margin-left: auto;
  margin-right: auto;
}

/* line 28, ../sass/partials/_module.scss */
.spin {
  -webkit-animation: spin 3s infinite;
  margin-left: auto;
  margin-right: auto;
}

/* line 35, ../sass/partials/_module.scss */
.left {
  float: left;
}

/* line 39, ../sass/partials/_module.scss */
.right {
  float: right;
}

/* line 43, ../sass/partials/_module.scss */
.delay-1 {
  -webkit-animation-delay: .5s;
}

/* line 48, ../sass/partials/_module.scss */
.delay-2 {
  -webkit-animation-delay: 1s;
}

/* line 53, ../sass/partials/_module.scss */
.delay-3 {
  -webkit-animation-delay: 1.5s;
}

/* line 58, ../sass/partials/_module.scss */
.delay-4 {
  -webkit-animation-delay: 2s;
}

/* line 63, ../sass/partials/_module.scss */
.delay-5 {
  -webkit-animation-delay: 2.5s;
}

/* line 68, ../sass/partials/_module.scss */
.delay-6 {
  -webkit-animation-delay: 3s;
}

/* line 73, ../sass/partials/_module.scss */
.white {
  border-color: white;
}

/* line 77, ../sass/partials/_module.scss */
.purple {
  border-color: purple;
}

/* line 81, ../sass/partials/_module.scss */
.blue {
  border-color: blue;
}

/* line 85, ../sass/partials/_module.scss */
.yellow {
  border-color: yellow;
}

/* line 89, ../sass/partials/_module.scss */
.black {
  border-color: black;
}

/* line 93, ../sass/partials/_module.scss */
.red {
  border-color: red;
}

/* line 1, ../sass/partials/_state.scss */
a:hover {
  color: yellow;
}

/* line 5, ../sass/partials/_state.scss */
button:hover {
  background-color: yellow;
}

/* line 9, ../sass/partials/_state.scss */
input:hover {
  background-color: #c1c1c1;
}

/* line 13, ../sass/partials/_state.scss */
.rotated {
  transition-property: transform;
  transition-duration: 1s;
  -webkit-transform: rotate(360deg);
}
